table td {
    padding: 5px 20px 5px 10px;
    border-top: 1px solid grey;
}

@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    body {
        padding-top: 50px;
    }
}
